
.bg {
    /* The image used */
    background-image: url("/img/bg-login.jpg"), linear-gradient(to bottom, rgba(255, 255, 255, 0.659), rgba(0, 0, 0, 0.73));

    width: 100%;
    /* Full height */
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.form-container {
    border: 1px solid;
    border: black;
    margin-top: 20vh;
    padding: 50px 60px;
    -webkit-box-shadow: 1px 4px 26px 11px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 4px 26px 11px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 4px 26px 11px rgba(0, 0, 0, 0.75);
        text-align: center;
    border-radius: 25px 25px 25px 25px;
        -moz-border-radius: 25px 25px 25px 25px;
        -webkit-border-radius: 25px 25px 25px 25px;
        border: 0px solid #000000;
}

.btn-login {
    border: 1px solid;
    padding: 8px;
    width: 100%;
}

.form-container .heading {
    font-size: 2rem;
}

.form-container .desc {
    text-align: center;
    color: #636d77;
    font-size: 1.6rem;
    font-weight: lighter;
    line-height: 2.4rem;
    margin-top: 16px;
    font-weight: 300;
}

.form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
}

.form-label,
.form-message {
    text-align: left;
}

.form-label {
    font-weight: 500;
    padding-bottom: 6px;
    line-height: 1.8rem;
    font-size: 18px;
    color: navy;
}

.form-control {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem;
}

.form-control:hover {
    border-color: #1dbfaf;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: aquamarine;
    font-size: 16px;
    font-weight: 600;
    opacity: 1;
    text-shadow: 1px 1px black;
    /* Firefox */
}

.form-group.invalid .form-message {
    color: #ff0f0f;
    // border-radius: 60px 60px 60px 60px;
        // -moz-border-radius: 60px 60px 60px 60px;
        // -webkit-border-radius: 60px 60px 60px 60px;
        // border: 1px solid #f33a58;
}

.form-group input {
    background: none;
    outline: none;
    border: 1px aquamarine solid;
    color: #fff;
    font-size: 16px;

}

.form-message {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
}

.form-submit:hover {
    background-color: #1ac7b6;
}

.spacer {
    margin-top: 36px;
}