<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="footer mt-auto ">

    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div style="font-weight: 600; text-transform: uppercase; letter-spacing: 3px;" class="container pt-1">
            Contact
            <!-- Section: Social media -->
            <section class="mt-1 mb-1">
                <!-- Facebook -->
                <a class="btn p-1" href="https://www.facebook.com/anhvin007/" role="button">
                <img src="https://img.icons8.com/material-rounded/48/000000/facebook-new.png" /></a>

                {{!-- <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-twitter"></i></a> --}}

                {{!-- <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-google"></i></a> --}}

                <!-- Instagram -->
                {{!-- <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-instagram"></i></a> --}}

                {{!-- <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-linkedin-in"></i></a> --}}

                <!-- Github -->
                <a class="btn p-1" href="https://github.com/anhvin007" role="button">
                <img src="https://img.icons8.com/ios-glyphs/48/000000/github.png" /></a>

            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center pt-1 pb-2" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Powered by: anhvin007 
            {{!-- <a class="text-white" href="https://t.com/"></a> --}}
        </div>
        <!-- Copyright -->
    </footer>

</div>
<!-- End of .container -->