<body class="hero-anime">

    <div class="navigation-wrap bg-light start-header start-style">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-md navbar-light">

                        <a class="navbar-brand" href="/"><img src="/img/brand.png" alt=""></a>

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse flex-row-reverse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto py-4 py-md-0">
                                <li class="nav-item px-2 pl-md-0 ml-0 ml-md-4">
                                    <a  class="nav-link" href="/">Trang chủ</a>
                                </li>
                                <li class="nav-item px-2 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/introduce" role="button"
                                        aria-haspopup="true" aria-expanded="false">Giới thiệu</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#gia-tri-dem-lai">Giá trị đem lại</a>
                                        <a class="dropdown-item" href="#congnghe-thuattoan">Công nghệ & Thuật toán</a>
                                    </div>
                                </li>
                                <li class="nav-item px-2 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="/coming-soon" >Diễn đàn</a>
                                </li>
                                <li class="nav-item px-2 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="/chat-realtime">Kênh chat</a>
                                </li>
                                <li class="nav-item px-2 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="/login">Đăng nhập</a>
                                </li>
                                <li class="nav-item px-2 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="/coming-soon" >Liên hệ</a>
                                </li>
                            </ul>
                        </div>

                    </nav>
                </div>
            </div>
        </div>
    </div>
    {{!-- <div class=" py-"></div> --}}


    <!-- Link to page
================================================== -->

    {{!-- <a href="https://front.codes/" class="logo" target="_blank">
        <img src="https://assets.codepen.io/1462889/fcy.png" alt="">
    </a> --}}

</body>

<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
    crossorigin="anonymous"></script>

<script>

    const $ = document.querySelector.bind(document);
    /* Please ❤ this if you like it! */

    (function ($) {
        // "use strict";

        $(function () {
            var header = $(".start-style");
            $(window).scroll(function () {
                var scroll = $(window).scrollTop();

                if (scroll >= 10) {
                    header.removeClass('start-style').addClass("scroll-on");
                } else {
                    header.removeClass("scroll-on").addClass('start-style');
                }
            });
        });


        //Animation

        $(document).ready(function () {
            $('body.hero-anime').removeClass('hero-anime');
        });

        //Menu On Hover

        $('body').on('mouseenter mouseleave', '.nav-item', function (e) {
            if ($(window).width() > 750) {
                var _d = $(e.target).closest('.nav-item'); _d.addClass('show');
                setTimeout(function () {
                    _d[_d.is(':hover') ? 'addClass' : 'removeClass']('show');
                }, 1);
            }
        });

        //Switch light/dark

        $("#switch").on('click', function () {
            if ($("body").hasClass("dark")) {
                $("body").removeClass("dark");
                $("#switch").removeClass("switched");
            }
            else {
                $("body").addClass("dark");
                $("#switch").addClass("switched");
            }
        });

    })(jQuery);

</script>