<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <section class="ftco-section">
        <img class="logo-rotate rounded-pill border rounded-4 shadow-lg d-block mx-auto mb-4" src="/img/download.png" alt=""
            width="225" height="225">
        <div class="container">
            <nav class=" navbar fixed-top navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
                <div class="container">
                    <a class="navbar-brand" href="/">TUY PHUOC 1</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                        aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa fa-bars"></span> Menu
                    </button>
                    <div class="collapse navbar-collapse" id="ftco-nav">
                        <ul class="navbar-nav ml-auto mr-md-3">
                            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                            <li class="nav-item"><a href="/introduce" class="nav-link">Introduce</a></li>
                            <li class="nav-item"><a href="/coming-soon" class="nav-link">Confession</a></li>
                            <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
                            {{!-- <li class="nav-item"><a href="#" class="nav-link">Contact</a></li> --}}
                            {{!-- <li class="dropdown nav-item d-md-flex align-items-center">
                                <a href="#"
                                    class="dropdown-toggle nav-link d-flex align-items-center justify-content-center icon-cart p-0"
                                    id="dropdown04" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-shopping-cart"></i>
                                    <b class="caret"></b>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown04">
                                    <a href="#" class="dropdown-item">Action</a>
                                    <a href="#" class="dropdown-item">Another action</a>
                                    <a href="#" class="dropdown-item">Something else here</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item">Separated link</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item">One more separated link</a>
                                </div>
                            </li> --}}
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- END nav -->
        </div>

    </section>
    <script src="/js/libary/jquery.min.js"></script>
    <script src="/js/libary/popper.js"></script>
    <script src="/js/page/header.js"></script>
    <script src=""></script>

