<title>TP1 - Tính năng tương lai</title>



<body class="bg-coming-soon">
    <div class="container-fluid">
    {{!-- {{> header}} --}}
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
            <div class="col-md-4 col-sm-4 col-xs-12">

                <div class="form-container">
                    <div class="form-group">
                        <h1 class="heading">Coming soon</h1>
                    </div>
                    <div class="spacer"></div>
                    <div class="form-group">
                        <h5>Đang trong quá trình phát triển liên hệ để biết thêm thông tin:</h5>
                        <div style="font-weight: 600; text-transform: uppercase; letter-spacing: 3px;" class="container pt-1">
                            Contact
                            <section class="mt-1 mb-1">
                                <!-- Facebook -->
                                <a class="btn p-1" href="https://www.facebook.com/anhvin007/" role="button">
                                    <img src="https://img.icons8.com/material-rounded/48/000000/facebook-new.png" /></a>
                                <a class="btn p-1" href="https://github.com/anhvin007" role="button">
                                    <img src="https://img.icons8.com/ios-glyphs/48/000000/github.png" /></a>
                            </section>
                        </div>
                    </div>
                </div>
            
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12"></div>

        </div>
    </div>

    {{!-- <script type="module" src="./main.js"></script> --}}
</body>